


// Read more link
// -----------------------------
.link--learn-more
  display: inline-block
  color: $gray-light
  position: relative
  padding-right: 25px
  transition: color 300ms
  +link-underline($gray-light, 0 100% 0 0, 0, left, 78%)

  i
    display: inline-block
    position: absolute
    right: 0
    top: 50%
    transform: translate3d(0,-50%,0)
    color: $black
    font-size: 20px
    line-height: 1


// Default button
// -----------------------------

.btn--outlined
  border: 1px solid $gray
  border-radius: 2px
  color: $black
  padding: 0.9rem 2rem 0.8rem 2rem
  font-size: 14px
  font-weight: 300
  background-color: $white
  cursor: pointer
  transition: all 500ms
  i
    display: inline-block
    font-size: 24px
    line-height: 12px
    width: 30px
    position: relative
    text-align: center
    bottom: -4px
  &:hover, &:active, &.active
    background-color: $black-ter
    border-color: $black-ter
    color: $white


// Button close
// -----------------------------
.btn--close
  width: 25px
  height: 25px
  display: inline-block
  background-image: url(../svg/icon-close.svg)
  background-repeat: no-repeat
  background-size: contain
  text-indent: -10000px
  text-align: inherit
  transition: all 500ms
  &:hover
    transform: scale(0.9,0.9)
