@font-face
	font-family: 'Maison Neue'
	src: url('../fonts/hinted-subset-MaisonNeue-Light.eot')
	src: url('../fonts/hinted-subset-MaisonNeue-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/hinted-subset-MaisonNeue-Light.woff') format('woff'), url('../fonts/hinted-subset-MaisonNeue-Light.ttf') format('truetype')
	font-weight: 300
	font-style: normal

@font-face
	font-family: 'Maison Neue'
	src: url('../fonts/hinted-subset-MaisonNeue-LightItalic.eot')
	src: url('../fonts/hinted-subset-MaisonNeue-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/hinted-subset-MaisonNeue-LightItalic.woff') format('woff'), url('../fonts/hinted-subset-MaisonNeue-LightItalic.ttf') format('truetype')
	font-weight: 300
	font-style: italic

@font-face
	font-family: 'Maison Neue'
	src: url('../fonts/hinted-subset-MaisonNeue-Book.eot')
	src: url('../fonts/hinted-subset-MaisonNeue-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/hinted-subset-MaisonNeue-Book.woff') format('woff'), url('../fonts/hinted-subset-MaisonNeue-Book.ttf') format('truetype')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Maison Neue'
	src: url('../fonts/hinted-subset-MaisonNeue-BookItalic.eot')
	src: url('../fonts/hinted-subset-MaisonNeue-BookItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/hinted-subset-MaisonNeue-BookItalic.woff') format('woff'), url('../fonts/hinted-subset-MaisonNeue-BookItalic.ttf') format('truetype')
  font-weight: normal
	font-style: italic

@font-face
	font-family: 'Maison Neue'
	src: url('../fonts/hinted-subset-MaisonNeue-Medium.eot')
	src: url('../fonts/hinted-subset-MaisonNeue-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/hinted-subset-MaisonNeue-Medium.woff') format('woff'), url('../fonts/hinted-subset-MaisonNeue-Medium.ttf') format('truetype')
	font-weight: 500
	font-style: normal

@font-face
	font-family: 'Maison Neue'
	src: url('../fonts/hinted-subset-MaisonNeue-MediumItalic.eot')
	src: url('../fonts/hinted-subset-MaisonNeue-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/hinted-subset-MaisonNeue-MediumItalic.woff') format('woff'), url('../fonts/hinted-subset-MaisonNeue-MediumItalic.ttf') format('truetype')
	font-weight: 500
	font-style: italic

// @font-face
// 	font-family: 'Maison Neue'
// 	src: url('../fonts/hinted-subset-MaisonNeue-Demi.eot')
// 	src: url('../fonts/hinted-subset-MaisonNeue-Demi.eot?#iefix') format('embedded-opentype'), url('../fonts/hinted-subset-MaisonNeue-Demi.woff') format('woff'), url('../fonts/hinted-subset-MaisonNeue-Demi.ttf') format('truetype')
// 	font-weight: 600
// 	font-style: normal
//
// @font-face
// 	font-family: 'Maison Neue'
// 	src: url('../fonts/hinted-subset-MaisonNeue-DemiItalic.eot')
// 	src: url('../fonts/hinted-subset-MaisonNeue-DemiItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/hinted-subset-MaisonNeue-DemiItalic.woff') format('woff'), url('../fonts/hinted-subset-MaisonNeue-DemiItalic.ttf') format('truetype')
// 	font-weight: 600
// 	font-style: italic

// @font-face
// 	font-family: 'Maison Neue'
// 	src: url('../fonts/hinted-subset-MaisonNeue-Bold.eot')
// 	src: url('../fonts/hinted-subset-MaisonNeue-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/hinted-subset-MaisonNeue-Bold.woff') format('woff'), url('../fonts/hinted-subset-MaisonNeue-Bold.ttf') format('truetype')
// 	font-weight: 700
// 	font-style: normal
//
// @font-face
// 	font-family: 'Maison Neue'
// 	src: url('../fonts/hinted-subset-MaisonNeue-BoldItalic.eot')
// 	src: url('../fonts/hinted-subset-MaisonNeue-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/hinted-subset-MaisonNeue-BoldItalic.woff') format('woff'), url('../fonts/hinted-subset-MaisonNeue-BoldItalic.ttf') format('truetype')
// 	font-weight: 700
// 	font-style: italic
