// Form base
// -----------------------------

form
  position: relative

=input-focus
  outline: none
  border-bottom-color: $black
  +placeholder
    color: transparent

input[type="email"],
input[type="text"]
  transition: all 500ms
  border: 0
  border-bottom: 1px solid $gray-light
  font-size: 18px
  padding: 0.5rem 0
  -webkit-appearance: none
  border-radius: 0
  +placeholder
    transition: all 500ms
    color: $gray-light
  &:focus
    +input-focus

button[type="submit"],
input[type="submit"]
  border: 1px solid $gray
  border-radius: 0
  color: $black
  padding: 0.7rem 2rem
  font-size: 14px
  font-weight: 300
  background-color: $white
  cursor: pointer
  transition: all 500ms
  -webkit-appearance: none
  &:hover,
  &:focus
    background-color: $gray
    color: $white
    outline: none
