
// Facebook messenger icon
// -----------------------------
.icon-facebook-messenger
  display: inline-block
  background-image: url(../svg/icon-facebook-messenger.svg)
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  width: 30px
  height: 30px
  position: relative
