// Contact page
// -----------------------------

.contact-page
  padding-top: 10vh

  // facebook icon
  .icon-facebook-messenger
    width: 20px
    height: 20px
    transform: translateY(5px)
    margin-right: 4px

  aside
    a
      color: $black
      &:hover
        color: $kaki
    h4, h5
      line-height: 2
      font-weight: 500
      a
        text-decoration: underline
    p
      font-size: 16px
      line-height: 2
      @include fullhd
        max-width: 18vw
        font-size: 18px

  // newsletter form overides
  .contact-page--newsletter
    p
      font-size: 14px
    form
      label
        display: none
      p
        display: block
        line-height: 1.5
      input[type="email"]
        width: 100%

  // contact
  .contact-page--map
    margin-top: $grid-padding*2
    nav
      margin-bottom: $grid-padding/2
    .contact-page--map--container
      position: relative
      +box-maker(45%)
      @include mobile
        +box-maker(100%)
    .contact-page--map--gmap
      width: 100%
      height: 100%
      opacity: 0
      pointer-events: none
      transition: opacity 1s
      &.visible
        opacity: 1
        pointer-events: all
