// Products page
// -----------------------------

#expertises
  position: relative
  min-height: 200vh


// Products list
// -----------------------------

.expertises--list
  // nada


// Produt item
// -----------------------------

.expertise--item
  position: relative
  z-index: 1
  +layout-boxes

  // mixin overides
  &:nth-child(1)
    @include desktop 
      transform: translate(0,-120px)
      .layout-box--description
        padding-top: 160px
