// FAQs page
// -----------------------------
#faqs
  .section--compact-header
    margin-bottom: 0

// FAQ list
// -----------------------------

.faqs--list
  // padding-top: $grid-padding * 2
  // padding-bottom: $grid-padding * 2
  @include mobile
    // padding-left: 0
    // padding-right: 0
    // border-top: 1px solid $gray-lighter


// FAQ item
// -----------------------------

.faq--item
  padding: $grid-padding/2 15px
  border-bottom: 1px solid $gray-lighter
  margin-bottom: 0

  &:last-child
    border-bottom: none

  @include desktop
    margin-left: 55px
    margin-right: 55px

  @include mobile
    padding: $grid-padding/2 25px $grid-padding/2 0
    margin-left: $grid-padding * -1
    margin-right: $grid-padding * -1

  header
    a
      color: $black
    .title
      margin: 0
      @include mobile
        font-size: $size-6

  // X close button
  .faq--item--close
    transform: rotate(45deg)
    transition: all 500ms
    top: -5px
    position: relative
    @include desktop
      opacity: 0
    @include mobile
      top: 11px
      right: 10px
      position: absolute
    i
      font-size: 32px
    &.open
      transform: rotate(0)
      opacity: 1 !important

  .faq--item--content
    @include desktop
      padding-left: 45px
      padding-right: 56px
    @include mobile
      p
        font-size: $size-7

  &:hover
    .faq--item--close
      opacity: 0.75

  &.open
    .faq--item--content
      padding-top: $grid-padding
      padding-bottom: $grid-padding
