// home page
// -----------------------------

#home
  position: relative
  min-height: 200vh

  @include desktop
    margin-top: $body-top-padding * -1

  .section--intro-header
    min-height: 100vh
    height: 100vh
    @include touch
      min-height: 60vh
      height: 60vh
      margin-bottom: $grid-padding

  .products--list-summary
    a
      +link-underline($white)

  .home--promotions
    position: relative
    @include touch
      margin-top: $grid-padding
      margin-bottom: $grid-padding
    @include desktop
      top: -10vh
    @include tallhd
      top: -20vh
      margin-bottom: -15vh

  // experience
  .home--experience
    padding-top: $grid-padding/2
    .is-with-vertical-spacer

    @include touch
      // snap figure to side
      figure
        margin-left: -7px
        margin-right: -7px


  // brands
  .home--brands
    margin-bottom: 50px
    hgroup:nth-child(1)
      margin-bottom: 60px
    .home--brands--logo
      height: 100px
      +centered-inner
      img
        max-width: 100px
        max-height: 80px


  // footer
  .home--footer
    position: relative
    margin-top: 80px
    padding-top: 160px
    padding-bottom: $grid-padding * 2

    @include touch
      padding-top: $grid-padding * 2

    .posts--list-recent
      @include desktop
        width: 70%

    .home--footer--text
      color: $white
      position: relative
      z-index: 2
      @include desktop
        padding-right: 18%
      @include touch
        margin-bottom: $grid-padding * 2

    .home--footer--contact
      @include touch
        padding-top: $grid-padding * 2
      @include desktop
        padding-top: $grid-padding * 4
      aside:nth-child(2)
        color: $gray
        h1, h2, h3, h4, p
          @include desktop
            max-width: 80%

    .home--footer--bg
      position: absolute
      top: $grid-padding
      left: 0
      width: 100%
      height: 550px
      z-index: -1
      background: $black
