// Recent post list (home, product page)
// ---------------------------------------
.posts--list-recent
  position: relative
  @include touch
    margin-top: 6vh
  @include desktop
    margin-top: 12vh
    padding-left: 60px

  .posts--list-recent--label
    color: $gray
    @include touch
      margin-bottom: $grid-padding/2
    @include desktop
      transform: rotate(-90deg)
      transform-origin: left top
      position: absolute
      left: 0
      top: 210px
      margin: 0

  .post--preview
    @include desktop
      width: 90%


// post list index
// -----------------------------
.posts--list
  hr
    border-color: $gray
    margin-bottom: $grid-padding*2

// Post preview panels
// -----------------------------

// mixin for over effect on post preview panes
=post--preview
  color: $black
  figure
    overflow: hidden
    picture
      clip-path: inset(0 0 0 0)
      transform: scale(1.085)
      transition: all 0.65s $easeInOutCubic


  &:hover
    color: $black
    figure
      picture
        clip-path: inset(10px 0 10px 0)
        transform: scale(1.005)
    .link--learn-more
      color: $black
      +link-underline($black, 0 0 0 0, 1, left, 78%)

// Tall pane mode
.post--preview-pane
  figure
    margin-bottom: $grid-padding/2
    +box-maker(120%)
  footer
    padding: 0 $grid-padding/2
    .title
      margin-bottom: 10px
  +post--preview

// Square mode
.post--preview-square
  figure
    margin-bottom: $grid-padding/2
    +box-maker(60%)
    @include touch
      margin-left: $grid-padding/2 * -1
      margin-right: $grid-padding/2 * -1
  +post--preview


// Post header defaults
// -----------------------------
.post--header
  .title
    // margin-bottom: $grid-padding !important
  .post--meta
    margin-top: 36px
  .post--summary
    margin-top: $grid-padding
    text-align: left
    font-size: $size-5
    // read more link
    nav.read-more
      text-align: center
      margin-top: $grid-padding
      font-size: $body-size


// Post meta for author and date
// -----------------------------
.post--meta
  font-size: $size-6
  line-height: 1.6
  font-weight: 300
  .author
    display: block
  time
    display: block
    color: $gray
  @include mobile
    font-size: $size-6


// Post single
// -----------------------------
.post-single
  .section--compact-header.post--header
    margin-bottom: 0


// Post content
// -----------------------------

.post--content
  // reduce padding on mobile
  &.container-narrow
    @include mobile
      padding-left: $grid-padding/2
      padding-right: $grid-padding/2
      width: auto




// Post categories
// -----------------------------

.categories--list
  a
    color: $grey
    font-size: $size-7
    display: block
    width: 100%
    text-overflow: ellipsis
  .current-cat
    a
      color: $black
