// Promotion preview pane
// -----------------------------

.promotion--pane
  display: block
  +box-maker(120%)
  color: $white
  transition: transform 0.45s
  color: $white

  // link over
  &:hover
    color: $white

  .promotion--pane--hover
    position: absolute
    bottom: -10px
    left: $grid-padding/2
    z-index: 10
    width: calc(100% - #{$grid-padding})

    @include touch
      bottom: 0px

    .title
      font-weight: 300
      margin-bottom: 0
      @include desktop
        transition: all 0.35s $easeInOutCubic
        transition-delay: 0.125s
        opacity: 0
        transform: translate3d(0,50%,0)
      &.is-2
        max-width: 70%
        @include mobile
          font-size: $size-3
          max-width: 85%
    nav
      font-weight: 300
      @include desktop
        opacity: 0
        transition: opacity 500ms
        transform: translateY(5px)
      @include mobile
        margin-top: 0
      .link--learn-more
        font-weight: 300
        color: $white
        i
          color: $white

  // figure with gradient in box-content
  figure
    height: 100%
    width: 100%
    position: relative
    overflow: hidden
    +overlay-gradient-shadow($opacity: 0.40)
    picture
      transition: all 0.65s $easeInOutCubic !important

  // box sizes
  &.is-4
    .promotion--pane--hover
      .title.is-2
        max-width: 100%
    +box-maker(120%)
    @include desktop
      nav
        display: none
    @include mobile
      +box-maker(120%)
  &.is-8
    +box-maker(58.45%)
    @include mobile
      +box-maker(120%)
  &.is-12
    +box-maker(38.5%)
    @include mobile
      +box-maker(120%)

  // on hover
  &:hover
    @include desktop
      transform: translate3d(0,#{($grid-padding / 4) * -1},0)
    figure
      +overlay-gradient-shadow-hover($opacity: 0.80)
      picture
        transform: scale(1.025)
    .promotion--pane--hover
      .title
        opacity: 1
        transform: translate3d(0,0,0)
      nav
        opacity: 1
