// Products page
// -----------------------------

#products
  position: relative

  @include desktop
    margin-top: $body-top-padding * -1

  .section--intro-header
    min-height: 88vh
    padding-bottom: $grid-padding * 2
    @include touch
      min-height: 60vh
      height: 60vh
      margin-bottom: $grid-padding
    @include tallhd
      min-height: 80vh

  .products--list-summary
    a
      +link-underline($white)


// Product list small summary
// -----------------------------

.products--list-summary
  a
    +link-underline($black)
  @include tablet
    columns: 2
    column-gap: $grid-padding/2
  &--mobile
    @extend .products--list-summary
    font-size: $size-4
    margin-bottom: $grid-padding
    a
      color: $gray-darker



// Products list
// -----------------------------

.products--list
  // nada


// Produt item
// -----------------------------

.product--item
  position: relative
  z-index: 1
  +layout-boxes


// Products supplier
// -----------------------------

.products--suppliers
  [data-accordion]
    header
      padding-left: 45px
      padding-right: 45px
      @include mobile
        padding-left: 0
        padding-right: 0
      a
        color: $gray

  .accordion--item--content
    color: $gray
    padding-left: 45px
    @include mobile
      padding-left: 0
    h2, h3, h4
      margin-bottom: 10px
    ul
      margin-bottom: $grid-padding
      a
        +link-underline($black)
