// Accordions system
// -----------------------------

[data-accordion]
  position: relative
  border-bottom: 1px solid $grey-lighter
  padding-bottom: $grid-padding/1.5
  padding-left: 15px

  @include mobile
    padding-left: 0

  &:nth-child(1)
    padding-top: $grid-padding/1.5
    border-top: 1px solid $grey-lighter

  .title
    margin: 0

  .accordion--item--toggle
    .accordion--item--toggle--icon
      position: absolute
      top: 25px
      right: 15px
      width: 20px
      height: 20px
      font-size: 20px
      line-height: 10px
      display: inline-block
      text-align: center
      transition: transform 500ms
      @include mobile
        right: 5px

  .accordion--item--content
    max-height: 0
    overflow: hidden
    opacity: 0
    transition: all 250ms
    p
      @include desktop
        max-width: 50vw

  &.open
    .accordion--item--toggle
      .accordion--item--toggle--icon
        transform: rotate(45deg)
        &.arrow
          transform: rotate(180deg)
    .accordion--item--content
      opacity: 1
      max-height: 1000px
      padding-top: $grid-padding
