// Modals
// -----------------------------

.modal-background
  +overlay
  z-index: 1
  background-color: rgba($white, 0.95)

.modal-wrapper
  height: 100vh

.modal-header
  height: 10vh
  text-align: center
  padding-top: 50px
  padding-bottom: 50px
  .btn--close
    position: absolute
    top: 30px
    right: 30px
    z-index: 3

.modal-content
  transition: all 0.65s
  transition-delay: 0.35s
  opacity: 0
  transform: translateY(20%)
  height: 80vh
  overflow: auto
  position: relative
  width: 100%
  z-index: 2
  +centered-inner

.modal
  +overlay
  pointer-events: none
  overflow: hidden
  position: fixed
  z-index: 1000
  transition: all 0.45s $easeInOutQuart
  transform: translateX(-100%)

  // add more spacing, bug with iOS device when scrolling
  @include touch
    transform: translateX(-140vh)

  &.is-from-right
    transform: translateX(100%)

  &.is-from-bottom
    transform: translateY(100%)
    // add more spacing, bug with iOS device when scrolling
    @include touch
      transform: translateX(-120%)

  // when active
  &.is-active
    pointer-events: all
    transform: translate(0%,0%)
    .modal-content
      opacity: 1
      transform: translateY(0)





// MagnificPopup plugin
// -----------------------------

$indexBase: 1000

.mfp-bg
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  background-color: rgba(255,255,255,0.95)
  z-index: $indexBase
  opacity: 0
  transition: all 500ms
  &.mfp-ready
    opacity: 1

.mfp-wrap
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  z-index: $indexBase + 1

// main container
.mfp-container
  position: relative
  height: 100vh
  overflow-x: scroll

  .mfp-content
    height: 100%

  // defaults elements
  button
    overflow: visible
    cursor: pointer
    background: transparent
    border: 0
    -webkit-appearance: none
    display: block
    outline: none
    padding: 0
    z-index: $indexBase + 10
    box-shadow: none
    // touch-action: manipulation

  // the header
  .mfp-header
    height: 10vh
    position: relative
    text-align: center
    +centered-inner

  .mfp-counter
    position: absolute
    top: 30px
    left: 30px
    font-size: 17px
    display: inline-block

  .mfp-close
    position: absolute
    top: 30px
    right: 30px
    width: 25px
    height: 25px
    display: inline-block
    background-image: url(../svg/icon-close.svg)
    background-repeat: no-repeat
    background-size: contain
    text-indent: -10000px
    transition: all 500ms
    &:hover
      transform: scale(0.9,0.9)


  .mfp-title
    margin: 0
    @include mobile
      display: none

  .mfp-figure
    // nothing

  .mfp-picture
    height: 90vh
    display: block
    position: relative
    +centered-inner

  // the image
  .mfp-img
    max-width: 80vw
    max-height: calc(90vh - 175px) !important
    display: inline-block

  // next-back buttons
  .mfp-arrow
    position: absolute
    top: 50%
    width: 45px
    height: 45px
    display: block
    background-repeat: no-repeat
    background-size: contain
    text-indent: -10000px
    transition: all 500ms
    @include mobile
      width: 20px
      height: 20px
    &.mfp-arrow-left
      background-image: url(../svg/icon-caret-left.svg)
      left: 30px
      @include mobile
        left: 15px
      &:hover
        @include desktop
          transform: translateX(-10px)
    &.mfp-arrow-right
      background-image: url(../svg/icon-caret-right.svg)
      right: 30px
      @include mobile
        right: 15px
      &:hover
        @include desktop
          transform: translateX(10px)



  // hide preloader
  .mfp-preloader
    display: none


//
// Zoom effect
//

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg
  opacity: 0
  -webkit-backface-visibility: hidden
  transition: all 0.3s ease-out

.mfp-with-zoom.mfp-ready .mfp-container
  opacity: 1

.mfp-with-zoom.mfp-ready.mfp-bg
  opacity: 1

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg
  opacity: 0
