

// Sharer
// -----------------------------

.sharer
  a
    color: $grey
    position: relative
    display: inline-block

    &:hover
      color: $black

    i
      width: 25px
      height: 25px
      position: relative
      margin-right: 7px
      bottom: -6px
      display: inline-block
      background-size: contain
      background-repeat: no-repeat
      background-position: center center

    &[data-share-facebook]
      i
        background-image: url(../svg/icon-facebook.svg)

    &[data-share-twitter]
      i
        background-image: url(../svg/icon-twitter.svg)

    .ion-social-facebook
      color: #3b5998

    .ion-social-twitter
      color: #4099FF
