// Sliders
// -----------------------------

.is-slider
  padding-bottom: 50px

  // bullets
  .swiper-pagination-bullet
    background-color: $gray-light
    margin-left: 2px
    margin-right: 2px
    &.swiper-pagination-bullet-active
      background-color: $black

  // mobile
  &-mobile
    @extend .is-slider
    margin-left: 0
    margin-right: 0
    margin-bottom: 0
