// Body padding
// -----------------------------
body
  // prevent horizontal scroll on small devices
  @include mobile
    width: 100vw
    max-width: 100vw
    overflow-x: hidden
    background-color: $black

//
// Main container
//

#content
  position: relative
  z-index: 1

#main
  display: block
  position: relative
  z-index: 1
  min-height: 100vh
  @include touch
    padding-top: $body-top-padding-touch
  @include desktop
    padding-top: $body-top-padding
  > section
    position: relative
    z-index: 1


//
// Grid extra
//

.container
  @include touch
    padding-left: $grid-padding/2
    padding-right: $grid-padding/2

// full width container
.container-fluid
  padding-left: $body-padding
  padding-right: $body-padding
  @include touch
    padding-left: $body-padding-mobile
    padding-right: $body-padding-mobile

// narrow container
.container-narrow
  margin-left: auto
  margin-right: auto
  padding-left: $grid-padding
  padding-right: $grid-padding
  +fullhd
    width: $tablet + ($grid-padding * 2)
  +widescreen-only
    width: $tablet + ($grid-padding * 2)
  +desktop-only
    width: $tablet + ($grid-padding * 2)
  +tablet-only
    width: $tablet - ($grid-padding * 2)
  +touch
    width: 90vw


.is-pull-left
  margin-right: auto

.is-pull-right
  margin-left: auto
