//
// Site footer
//

footer#site-footer
  background-color: $beige-lighter
  margin-top: $grid-padding * 2
  padding-top: $grid-padding * 2
  padding-bottom: $grid-padding * 2

  .home &
    margin-top: 0

  .footer--logo
    display: inline-block
    width: 220px
    height: 30px
    background: url(../svg/fs-logo.svg) no-repeat left center
    background-size: contain

  a
    transition: all 250ms
    &:hover
      color: $black

  nav
    font-size: 1rem
    ul
      padding-right: $grid-padding * 2
      li
        margin-bottom: $grid-padding/3
        line-height: 1.1
        text-transform: capitalize

    // first in 2 cols
    &:nth-child(1)
      ul
        li.lang-item
          display: none
        @include tablet
          columns: 2
          column-gap: $grid-padding
