//
// Main site-header nav
//

.site-header--nav
  padding-top: 37px
  padding-bottom: 15px
  position: relative
  z-index: 100
  background-color: $white
  transition: background-color 0.5s, transform 0.25s

  // absolute position only for desktop device
  @include desktop
    position: absolute
    top: 43px
    left: 0
    right: 0

  @include touch
    padding-top: 15px
    padding-bottom: 15px

  .brand
    display: inline-block
    width: 290px
    height: 38px
    transition: background-position 0.5s $easeInOutCubic
    background: url(../svg/fs-logo.svg) no-repeat 50% 50%
    background-size: contain
    text-indent: -10000px
    border-bottom: none
    margin-bottom: 0
    @include mobile
      width: 160px
      height: 22px

  // remove margin on level
  .level
    margin-bottom: 0


  // main nav
  nav.nav-primary
    a
      font-size: 15px
      line-height: 15px
      font-weight: 300
      color: $black
      +link-underline($black)
    ul
      margin-bottom: 0
      li
        margin: 0
        padding: 0
        padding-right: $grid-padding/2
        position: static
        &:last-child
          margin-right: 0
        &.current-menu-item
          a
            +link-underline($black, 0 0 0 0, 1)


  // fixed on top
  &.is-sticky
    @include desktop
      position: fixed
      top: 0
      background-color: $white !important
      .brand
        background-image: url(../svg/fs-logo.svg) !important

  // move up outside viewport
  &.is-hide-up
    transition-delay: 0.35s
    transform: translateY(-100%)
    .home &,
    .post-type-archive-products &
      transition-delay: 0s

  // inverted
  &.is-inverted
    @include desktop
      background-color: transparent
      .brand
        background-image: url(../svg/fs-logo-inverted.svg)
      // invert nav colors
      nav.nav-primary
        a
          color: $white
          +link-underline($white)
        ul li.current-menu-item a
          +link-underline($white, 0 0 0 0, 1)



// Main nav (mobile)
// -----------------------------

a.toggle-nav-mobile
  width: 65px
  height: 25px
  overflow: hidden
  -webkit-tap-highlight-color: transparent
  text-align: right
  color: $black
  .inner
    width: 100%
    height: 50px
    transition: all 350ms
  span
    display: block
    height: 25px
  .btn--close
    width: 100%
    height: 20px
    background-position: right center
  &.active
    .inner
      transform: translateY(-25px)

.nav-primary--mobile
  max-height: 0
  overflow: hidden
  transition: all 0.25s

  a
    color: $black

  ul
    margin-bottom: $grid-padding/3
    li
      font-size: $size-5
      margin-bottom: $grid-padding/3
      font-weight: 300

  .nav-primary--mobile--content
    opacity: 0
    transition: all 0.15s

  &.open
    max-height: 1000px
    overflow: visible
    padding-top: $grid-padding
    padding-bottom: $grid-padding
    height: 100vh
    .nav-primary--mobile--content
      opacity: 1
      transition-delay: 0.35s
