

// Figure defaults
// -----------------------------
figure
  figcaption
    position: relative
    z-index: 10
    margin-left: $grid-padding/4
    padding-top: 20px
    margin: 0
    font-weight: 300
    font-size: $size-6
    color: $gray
    p
      margin: 0
    @include mobile
      font-size: 0.75rem
      p
        font-size: 0.75rem
    &.wp-caption-text
      font-size: $size-7
      margin: 0
      @include mobile
        font-size: 0.75rem
    &:before
      content: ""
      display: inline-block
      width: 14px
      height: 1px
      position: absolute
      top: 9px
      left: 0
      background-color: $grey-lighter

// figure positions
figure.alignleft,
img.alignleft
  display: inline-block
  float: left
  margin-left: -7.5vw
  margin-right: $grid-padding/2
  margin-bottom: $grid-padding/2
  @include mobile
    margin-left: 0
    max-width: 40vw
    margin-right: $grid-padding/4
    margin-bottom: $grid-padding/4
    margin-top: 5px


figure.alignright
img.alignright
  display: inline-block
  float: right
  margin-right: -7.5vw
  margin-left: $grid-padding/2
  margin-bottom: $grid-padding/2
  @include mobile
    margin-left: 0
    max-width: 40vw
    margin-left: $grid-padding/4
    margin-bottom: $grid-padding/4
    margin-top: 5px


// Post image gallery
// -----------------------------
.post--image-gallery
  margin-top: $grid-padding
  margin-bottom: $grid-padding !important

  @include desktop
    margin-left: -15vw
    margin-right: -15vw

  .ratio-box
    margin-bottom: 0
    @include tablet
      height: 100%
      // remove height when with a <figcaption>
      &.is-with-caption
        height: calc(100% - 40px)


  figure
    margin-bottom: 15px
    padding-bottom: 0 !important
    // defaults
    picture
      display: block
      // margin-bottom: 10px
      overflow: hidden
      video
        object-fit: cover
        overflow: hidden
        background-color: $black
        z-index: 10
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
      img
        width: 100%
      .media-text-overlay
        position: absolute
        left: 50%
        top: 50%
        transform: translate3d(-50%,-50%,0)
        z-index: 10
        p
          font-size: $size-2
          color: $white
          margin: 0
          font-weight: 600

    // strech and image box on side, not in grid
    &.is-full-width
      position: relative
      width: 100%
      // picture
      > .ratio-box
        // position: relative
        left: -31.25vw
        height: auto
        width: calc(100% + 62.5vw)
        max-width: calc(100% + 62.5vw)
        display: block
      // less padding on caption
      figcaption
        padding-left: 10px
        &:before
          left: 10px


// Embeded responsive
// -----------------------------
.embed-responsive
  // 16-9 ratio
  +box-maker(54.25%)
  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 10
