// Newsletter bar
// -----------------------------

.newsletter--footer-bar
  // display: none
  @include touch
    padding-top: $grid-padding
    padding-bottom: $grid-padding
  @include desktop
    padding-top: $grid-padding * 2
    padding-bottom: $grid-padding * 2
    margin-top: $grid-padding * 2
    border-top: 1px solid $gray-light

  form
    position: relative
    p
      @include desktop
        display: inline-block
        padding: 0 $grid-padding/2
    label
      display: none
    input[type="email"]
      width: 280px
      @include mobile
        width: 100%

  // less spacing on homepage
  .home &
    margin-top: $grid-padding/2


// mailchimp messages
.mailchimp-message
  position: absolute
  top: 0
  left: 0
  padding: 10px 20px
  width: 100%
  height: 100%
  z-index: 10
  background-color: $white
  font-size: $size-7
  text-align: center
  animation-name: fadeIn
  animation-duration: 0.5s
  animation-iteration-count: 1
