// Opening hours bar
// -----------------------------

.site-header--opening-hours
  background-color: $white
  padding-top: $grid-padding/4
  padding-bottom: $grid-padding/4
  color: $black
  position: relative
  width: 100%
  z-index: 101
  transition: background 0.5s
  font-size: 16px

  // absolute position only for desktop device
  @include desktop
    position: absolute
    top: 0
    left: 0
    right: 0
    text-align: center

  // line on touch devices
  @include touch
    hr
      margin: 10px 0 0 0
      background-color: $gray-lighter

  @include mobile
    font-size: 14px

  a
    color: $black

  nav
    margin-bottom: 0 !important

  // change color on hover, if not inverted
  &:hover
    @include desktop
      &:not(.is-inverted)
        background-color: $gray-lighter

  // homepage, products
  &.is-inverted
    @include desktop
      background-color: $black
      color: $white
      a
        color: $white

  // btn
  .opening-hours--toggle
    i
      position: relative
      font-size: 15px
      color: $gray-light
    span
      margin-right: 10px
      span
        margin-right: 0
    &.active
      i
        top: -4px
        transform: rotate(180deg)

    // align to left on tablet and mobile
    @include touch
      justify-content: flex-start

    @include mobile
      padding-left: 10px
      padding-right: 10px
      margin-bottom: 0

  .opening-hours--details
    max-height: 0
    overflow: hidden
    transition: all 0.25s
    text-align: left
    margin-bottom: 0
    .opening-hours--details--content
      opacity: 0
      transition: opacity 500ms
      @include desktop
        transform: translateX(-77px)
      @include mobile
        width: 100%
        padding-left: 10px
        padding-right: 10px
    p
      @include mobile
        font-size: 14px
    p:last-child
      margin-bottom: 0
    &.open
      max-height: 1000px
      overflow: visible
      padding-top: $grid-padding
      padding-bottom: $grid-padding
      @include mobile
        padding-top: $grid-padding/2
        padding-bottom: $grid-padding/2
      .opening-hours--details--content
        opacity: 1
        transition-delay: 0.35s
