// Generic Section header
// with a background image
// -----------------------------

.section--intro-header
  background-color: $black
  position: relative
  min-height: 100vh
  padding-bottom: 20vh
  overflow: hidden

  @include touch
    min-height: 70vh
    padding-bottom: 10vh
    h1
      font-size: $size-3

  @include desktop
    h1
      font-size: $size-2

  @include fullhd
    h1
      font-size: $size-1

  // first level container
  > .container:nth-child(1)
    position: relative
    z-index: 1
    padding-top: 345px
    color: $white
    @include touch
      padding-top: 120px
    @include desktop
      padding-left: 0
    @include fullhd
      padding-left: 60px
    @include tallhd
      padding-top: 375px

  // elements
  a
    color: $white

  // intro blurb
  .section--intro-header--intro-blurb
    margin-bottom: $grid-padding
    .title, h1, h2, h3, h4
      margin-bottom: 0

  // image behing
  .section--intro-header--background-image
    position: absolute
    z-index: 0
    top: 0
    left: 0
    right: 0
    bottom: 0

    // bg-video force opacity
    .bg-video-filled
      video
        opacity: 0.6

    // overflow: hidden
    img, .bg-filled
      opacity: 0.6

    // fix bug on page load
    &.rellax
      img, .bg-filled
        transform: translateY(-5%)
        height: 105%
    +overlay-gradient-shadow($position: absolute)


// Compact section header
// -----------------------------

.section--compact-header
  position: relative
  padding-top: calc(550px - 70px)
  margin-bottom: 50px

  @include touch
    padding-top: calc(50vh - 70px)
    // margin-bottom: 150px

  figure
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    overflow: hidden
    height: 550px

    @include touch
      height: 50vh

    // fix bug on page load
    .rellax
      height: 100%
      img, .bg-filled
        transform: translateY(-5%)
        height: 105%

    picture
      transition: clip-path 1250ms, opacity 750ms !important
      transition-delay: 0.25s
      background-color: $gray-dark
      +overlay-gradient-shadow($position: absolute)
      .page--leaving &
        clip-path: inset(0 0 0 0)
        @include touch
          clip-path: inset(0 50% 0 50%)
      .page--entering &
        clip-path: inset(0 30px 0 30px)
        @include touch
          clip-path: inset(0 0 0 0)

  // centered white container
  > hgroup:nth-child(1),
  .post--header
    position: relative
    z-index: 2
    background: $white
    padding-top: 70px
    padding-bottom: 16px
    padding-left: $grid-padding*2
    padding-right: $grid-padding*2
    text-align: center
    @include mobile
      padding-top: 30px
      padding-bottom: 16px
      padding-left: $grid-padding/4
      padding-right: $grid-padding/4
    .title
      margin: 0
      a
        color: $black
      @include mobile
        font-size: $size-4


  // footer act as bottom title
  > footer:nth-child(1)
    align-self: flex-end
    z-index: 10
    color: $white
    padding-left: $grid-padding*2 - 15px
    padding-right: $grid-padding*2 - 15px
    transform: translateY(-30px)
    @include mobile
      padding-left: $grid-padding
      padding-right: $grid-padding
      transform: translateY(-15px)
      .title
        font-size: $size-2

  // left side
  .section--compact-header--left-sidebar
    position: absolute
    left: 30px
    top: 550px + $grid-padding
    width: 150px
    @include fullhd
      left: 60px
    @include touch
      display: none

  // right side
  .section--compact-header--right-sidebar
    position: absolute
    right: 30px
    top: 550px + $grid-padding
    width: 150px
    @include mobile
      position: static
      top: inherit
      right: inherit
      width: auto
      padding: 0 0 $grid-padding 0
      text-align: center
    @include tablet
      text-align: right
    @include fullhd
      right: 60px



// Page intro blurb intro
// -----------------------------

.page--intro-blurb
  a
    border-bottom: 1px solid $kaki
  h1, h2, h3, h4, h5, h6
    line-height: $line-height-default + 0.4

  @include mobile
    h4, h5, h6
      font-size: $size-6
