// Main site header
// -----------------------------


.site-header
  transition: transform 0.25s

  @include touch
    position: fixed
    background-color: #fff
    top: 0
    left: 0
    width: 100vw
    z-index: 100

  // move up outside viewport
  &.is-hide-up
    transition-delay: 0.35s
    transform: translateY(-100%)
    .home &,
    .post-type-archive-products &
      transition-delay: 0s

  
