// social links
// -----------------------------
.social-links
  li
    margin-bottom: 15px
  a
    position: relative
    font-size: 18px
    i
      display: inline-block
      font-size: 28px
      line-height: 16px
      width: 35px
      position: relative
      text-align: center
      bottom: -5px

  &.is-inlined
    li
      margin-right: 25px

// Social link round circles
// -----------------------------

.social-links--circle
  text-align: center

  li
    display: inline-block
    margin: 30px

  a
    display: inline-block
    width: 150px
    height: 150px
    position: relative
    border: 4px solid $black
    border-radius: 50%
    transition: all 250ms
    color: $black
    overflow: hidden
    +centered-inner

    // icons
    i
      font-size: 60px
      margin-bottom: -8px

    &.social-links--facebook
      &:hover
        color: #3b5999
        border-color: #3b5999

    &.social-links--instagram
      &:hover
        color: #e6002e
        border-color: #cb007a
