// text animation
// -----------------------------


.text-line--slide-in
  display: block
  overflow: hidden

  // animation
  animation-name: slideInRight
  animation-duration: 2s
  animation-delay: 1s
  animation-iteration-count: 1
  animation-fill-mode: backwards

  &:nth-child(2)
    animation-delay: 1.15s
    animation-duration: 2.15s
  &:nth-child(3)
    animation-delay: 1.25s
    animation-duration: 2.25s
  &:nth-child(4)
    animation-delay: 1.35s
    animation-duration: 2.35s
  &:nth-child(5)
    animation-delay: 1.45s
    animation-duration: 2.45s
