// Title animated text line
// -----------------------------

.title-line
  display: block
  overflow: hidden

  .title-line--inner
    display: inline-block
    transition: transform 1250ms
    transform: translateY(100%)

  .page--leaving &
    .title-line--inner
      transform: translateY(100%)
      transition-delay: 0.25s
    &:nth-child(2)
      .title-line--inner
        transition-delay: 0.15s
    &:nth-child(3)
      .title-line--inner
        transition-delay: 0.05s

  .page--entering &
    .title-line--inner
      transform: translateY(0)
      transition-delay: 1.15s
    &:nth-child(2)
      .title-line--inner
        transition-delay: 1.25s
    &:nth-child(3)
      .title-line--inner
        transition-delay: 1.35s
